@import "../fonts/Bebas Neue Cyrillic/stylesheet.css";
@import "../fonts/Helvetica Neue/stylesheet.css";
.cursor-default {
  cursor: default !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #033862;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #033862;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "HelveticaNeueCyr", serif;
}

a {
  text-decoration: none;
}

@media (max-width: 1024px) {
  html {
    font-size: 15px;
  }
}
@media (max-width: 992px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 13px;
  }
}
body {
  background: #fff;
}

.container {
  max-width: 1400px;
}

:root {
  --orange: #FF5B27;
  --black: #1D1F23;
  --gray: #949494;
  --light-gray: #F1F1F1;
  --white: #FFf;
}

.font-babes-neue {
  font-family: "Bebas Neue", sans-serif;
}

.btn-def {
  padding: 0.625rem 1.5625rem;
  border-radius: 100px;
  border: 2px solid #1D1D1D;
  color: #1D1D1D;
  font-size: 1.5625rem;
  font-weight: 400;
  line-height: 100%; /* 25px */
  text-transform: uppercase;
  cursor: pointer;
  background: transparent;
}
@media (max-width: 576px) {
  .btn-def {
    font-size: 1rem;
    border-radius: 62.887px;
    border: 1.258px solid #1D1D1D;
    padding: 6.289px 15.722px;
  }
}

.menu {
  height: 160px;
  display: flex;
  justify-content: left;
  align-items: center;
  border-bottom: 1px solid #D9D9D9;
  width: 100%;
}
@media (max-width: 992px) {
  .menu {
    height: auto;
  }
}
.menu-inner {
  display: flex;
  align-items: center;
  width: 100%;
}
@media (max-width: 992px) {
  .menu-inner {
    justify-content: space-between;
  }
}
.menu-inner-logo {
  margin-right: 10.75rem;
}
@media (max-width: 1200px) {
  .menu-inner-logo {
    margin-right: 5.75rem;
  }
}
@media (max-width: 1160px) {
  .menu-inner-logo {
    margin-right: 4.8rem;
  }
}
@media (max-width: 1060px) {
  .menu-inner-logo {
    margin-right: 3.5rem;
    transform: scale(0.9);
  }
}
@media (max-width: 576px) {
  .menu-inner-logo img {
    width: 166px;
  }
}
.menu-inner-line {
  width: 1px;
  background: #D9D9D9;
  height: 160px;
  margin-right: 11.5rem;
}
@media (max-width: 1200px) {
  .menu-inner-line {
    margin-right: 8.2rem;
  }
}
@media (max-width: 1140px) {
  .menu-inner-line {
    margin-right: 5.75rem;
  }
}
@media (max-width: 992px) {
  .menu-inner-line {
    display: none;
  }
}
.menu-inner-items {
  display: flex;
  margin-right: 5.375rem;
}
@media (max-width: 1200px) {
  .menu-inner-items {
    margin-right: 1.5rem;
  }
}
@media (max-width: 992px) {
  .menu-inner-items {
    display: none;
  }
}
.menu-inner-items .item2 {
  margin-left: 5.625rem;
}
@media (max-width: 1200px) {
  .menu-inner-items .item2 {
    margin-left: 4rem;
  }
}
@media (max-width: 1085px) {
  .menu-inner-items .item2 {
    margin-left: 2rem;
  }
}
.menu-inner-items-item {
  color: #9A9A9A;
  font-size: 1.25rem;
  font-weight: 500;
  text-transform: uppercase;
  white-space: nowrap;
}
.menu-inner-items-item a {
  font-size: 1.25rem;
  color: #9A9A9A;
}
.menu-inner-link {
  white-space: nowrap;
}
@media (max-width: 576px) {
  .menu-inner-link {
    white-space: unset;
  }
}
.menu-inner-link a {
  color: #000;
  font-size: 1.494rem;
  font-weight: 400;
  line-height: 100%; /* 23.904px */
  text-transform: uppercase;
  text-decoration: underline;
}
@media (max-width: 576px) {
  .menu-inner-link a {
    font-size: 1.125rem;
  }
}
.menu .menu-items-mobile {
  display: none;
  margin-top: 20px;
  margin-bottom: 22px;
  position: relative;
  left: 15px;
  gap: 25px;
}
@media (max-width: 992px) {
  .menu .menu-items-mobile {
    display: flex;
  }
}
.menu .menu-items-mobile .menu-items-item {
  color: #9A9A9A;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}
.menu .menu-items-mobile .menu-items-item a {
  color: #9A9A9A;
}

.header {
  margin-top: 7rem;
}
@media (max-width: 768px) {
  .header {
    margin-top: 1.8125rem;
  }
}
.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
@media (max-width: 992px) {
  .header-inner {
    flex-direction: column;
    justify-content: center;
  }
}
@media (max-width: 992px) {
  .header-inner-box {
    width: 100%;
    margin-bottom: -70px;
  }
}
@media (max-width: 575px) {
  .header-inner-box {
    width: 100%;
    margin-bottom: -150px;
  }
}
.header-inner-box-head {
  color: #292929;
  font-size: 4.6875rem;
  font-weight: 400;
  line-height: 111.3%;
  text-transform: uppercase;
  font-family: "Bebas Neue", sans-serif;
}
@media (max-width: 1024px) {
  .header-inner-box-head {
    font-size: 3.5rem;
  }
}
@media (max-width: 768px) {
  .header-inner-box-head {
    font-size: 2.875rem;
  }
}
.header-inner-box-button {
  max-width: 556px;
  width: 100%;
  height: 214px;
  position: relative;
  left: -115px;
  margin-top: 73px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 992px) {
  .header-inner-box-button {
    left: -30px;
    top: -30px;
    margin-top: 0;
  }
}
@media (max-width: 576px) {
  .header-inner-box-button {
    justify-content: left;
    padding-left: 50px;
    height: 300px;
    width: 450px;
    left: -50px;
    top: -100px;
    background-size: contain;
  }
}
.header-inner-box-button button {
  max-width: 19.7410625rem;
  width: 100%;
  text-align: center;
  height: 4.125rem;
  border: 1.692px solid #000;
  background: rgba(255, 255, 255, 0.5);
  color: #000;
  font-size: 1.1785625rem;
  font-weight: 500;
  line-height: normal;
}
.header-inner-video {
  max-width: 800px;
  width: 100%;
  position: absolute;
  z-index: -1;
  right: -30px;
  top: -50px;
}
@media (max-width: 992px) {
  .header-inner-video {
    position: unset;
    max-width: unset;
  }
}
.header-inner-video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header-inner-video h2 {
  color: #292929;
  font-size: 2.8125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 87%; /* 20.88px */
  text-transform: uppercase;
  background: #F6F6F6;
  white-space: nowrap;
  position: absolute;
  top: 91%;
  padding: 20px;
  left: 42%;
  transform: translateX(-50%);
  z-index: 1;
}
@media (max-width: 1024px) {
  .header-inner-video h2 {
    font-size: 2rem;
  }
}
@media (max-width: 992px) {
  .header-inner-video h2 {
    top: 99%;
  }
}
@media (max-width: 768px) {
  .header-inner-video h2 {
    font-size: 1.5rem;
  }
}
.header-inner-video h3 {
  color: #292929;
  font-size: 3.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 87%; /* 20.88px */
  text-transform: uppercase;
  background: #F6F6F6;
  white-space: nowrap;
  position: absolute;
  top: 108%;
  padding: 1.25rem;
  left: 70%;
  transform: translateX(-50%);
  z-index: 1;
}
@media (max-width: 1024px) {
  .header-inner-video h3 {
    font-size: 3rem;
    left: 68%;
    top: 104%;
  }
}
@media (max-width: 992px) {
  .header-inner-video h3 {
    font-size: 3rem;
    left: 68%;
    top: 107%;
  }
}
@media (max-width: 768px) {
  .header-inner-video h3 {
    font-size: 2.25rem;
  }
}
.header-title {
  margin-top: 12.6875rem;
}
@media (max-width: 992px) {
  .header-title {
    margin-top: 11rem;
  }
}
@media (max-width: 768px) {
  .header-title {
    margin-top: 8rem;
  }
}
.header-title-1 {
  max-width: 1000px;
  width: 100%;
  color: #292929;
  font-size: 1.625rem;
  font-weight: 400;
  line-height: 43px; /* 165.385% */
}
.header-title-1 span {
  color: #292929;
  font-size: 1.625rem;
  font-weight: 500;
  line-height: 43px;
}
@media (max-width: 768px) {
  .header-title-1 span {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .header-title-1 {
    font-size: 16px;
    line-height: 23px;
  }
}
.header-title-2 {
  color: #292929;
  margin-top: 2.5625rem;
  font-size: 1.375rem;
  font-weight: 400;
  line-height: 40.5px; /* 184.091% */
  max-width: 660px;
  width: 100%;
}
@media (max-width: 992px) {
  .header-title-2 {
    margin-top: 0.5rem;
    margin-bottom: 2rem;
  }
}
@media (max-width: 768px) {
  .header-title-2 {
    font-size: 16px;
    line-height: 23px;
  }
}

.howItWorking-slider img {
  transform: translateX(0);
  height: auto;
}
@media (max-width: 992px) {
  .howItWorking-slider img {
    width: 2000px;
  }
}

.slick-dots {
  display: none !important;
}

.slick-track {
  display: flex;
}
.slick-track .slick-slide {
  height: auto !important;
  margin-right: 20px !important;
  cursor: pointer;
}
@media (max-width: 768px) {
  .slick-track .slick-slide {
    margin-right: 10px !important;
  }
}
.slick-track .slick-slide:last-child {
  margin-right: 0 !important;
}

.slick-next {
  background-color: white;
  width: 55px !important;
  height: 55px !important;
  display: inline-block;
  position: absolute;
  top: 102%;
  left: 38%;
  border-radius: 50% !important;
  padding: 14px !important;
  border: 1px solid #292929;
  font-size: 0;
  transition: 0.2s;
  opacity: 0.5;
}
@media (max-width: 1200px) {
  .slick-next {
    left: 43%;
    top: 110%;
  }
}
@media (max-width: 992px) {
  .slick-next {
    left: 8%;
    top: 112%;
  }
}
@media (max-width: 768px) {
  .slick-next {
    left: 9%;
  }
}
@media (max-width: 576px) {
  .slick-next {
    left: 12%;
  }
}
@media (max-width: 475px) {
  .slick-next {
    left: 13%;
  }
}
@media (max-width: 425px) {
  .slick-next {
    left: 16%;
  }
}
@media (max-width: 375px) {
  .slick-next {
    left: 18%;
  }
}
.slick-next:active {
  border: 1px solid #292929;
  opacity: 1;
}
.slick-next:hover {
  border: 1px solid #292929;
  opacity: 1;
}
.slick-next:before {
  content: "";
  width: 24px;
  height: 24px;
  background: url("../images/arrow-right.svg") no-repeat center center;
  background-size: contain;
  font-size: 20px;
  opacity: 0.75;
  display: block;
}
.slick-next:before:hover {
  border: 1px solid #292929;
}

.slick-prev {
  background-color: white;
  width: 55px !important;
  height: 55px !important;
  display: inline-block;
  position: absolute !important;
  left: 31%;
  top: 102%;
  border-radius: 50% !important;
  padding: 14px !important;
  border: 1px solid #292929;
  z-index: 32;
  font-size: 0;
  transition: 0.2s;
  opacity: 0.5;
}
@media (max-width: 1200px) {
  .slick-prev {
    left: 34%;
    top: 110%;
  }
}
@media (max-width: 992px) {
  .slick-prev {
    left: 0;
    top: 112%;
  }
}
.slick-prev:active {
  border: 1px solid #292929;
  opacity: 1;
}
.slick-prev:hover {
  border: 1px solid #292929;
  opacity: 1;
}
.slick-prev:before {
  content: "";
  width: 24px;
  height: 24px;
  background: url("../images/arrow-left.svg") no-repeat center center;
  background-size: contain;
  font-size: 20px;
  opacity: 0.75;
  display: block;
}

.about-us {
  border-top: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
  height: 432px;
  margin-top: 66px;
}
@media (max-width: 1200px) {
  .about-us {
    height: 350px;
  }
}
@media (max-width: 992px) {
  .about-us {
    height: 280px;
  }
}
@media (max-width: 375px) {
  .about-us {
    height: 320px;
  }
}
.about-us-inner {
  position: relative;
  display: flex;
  justify-content: left;
  align-items: start;
}
.about-us-inner .blue-link {
  position: absolute;
  right: 50px;
  bottom: 95px;
}
@media (max-width: 1200px) {
  .about-us-inner .blue-link {
    bottom: 150px;
  }
}
@media (max-width: 1100px) {
  .about-us-inner .blue-link {
    bottom: 150px;
  }
}
@media (max-width: 1170px) {
  .about-us-inner .blue-link {
    bottom: 120px;
  }
}
@media (max-width: 992px) {
  .about-us-inner .blue-link {
    top: 110%;
  }
}
@media (max-width: 576px) {
  .about-us-inner .blue-link {
    top: 115%;
    right: 10px;
  }
}
@media (max-width: 475px) {
  .about-us-inner .blue-link {
    top: 115%;
  }
}
.about-us-inner .count-box {
  padding-top: 6.875rem;
  padding-right: 9.375rem;
  height: 432px;
  border-right: 1px solid #D9D9D9;
}
@media (max-width: 1200px) {
  .about-us-inner .count-box {
    padding-right: 5rem;
    padding-top: 5rem;
  }
}
@media (max-width: 1100px) {
  .about-us-inner .count-box {
    padding-right: 4rem;
  }
}
@media (max-width: 992px) {
  .about-us-inner .count-box {
    display: none;
  }
}
.about-us-inner .count-box button {
  padding: 0.625rem 1.5625rem;
  border-radius: 100px;
  background: transparent;
  border: 2px solid #1D1D1D;
  color: #1D1D1D;
  font-size: 1.5625rem;
  font-weight: 400;
  line-height: 100%; /* 25px */
  text-transform: uppercase;
}
.about-us-inner .count-box .count {
  margin-top: 9.0625rem;
  color: #000;
  font-size: 3.4375rem;
  font-weight: 400;
  line-height: 54.5px; /* 99.091% */
}
@media (max-width: 1024px) {
  .about-us-inner .count-box .count {
    font-size: 2.5rem;
  }
}
.about-us-inner .count-box2 {
  display: none !important;
}
@media (max-width: 992px) {
  .about-us-inner .count-box2 {
    display: flex !important;
    align-items: center;
    position: absolute;
    left: 0;
    top: 22px;
  }
}
.about-us-inner .count-box2 button {
  padding: 0.625rem 1.5625rem;
  border-radius: 100px;
  background: transparent;
  border: 2px solid #1D1D1D;
  color: #1D1D1D;
  font-size: 1.5625rem;
  font-weight: 400;
  line-height: 100%; /* 25px */
  text-transform: uppercase;
}
@media (max-width: 992px) {
  .about-us-inner .count-box2 button {
    font-size: 1.3rem;
  }
}
@media (max-width: 576px) {
  .about-us-inner .count-box2 button {
    font-size: 1rem;
    border: 1px solid #1D1D1D;
  }
}
.about-us-inner .count-box2 .count {
  color: #000;
  font-size: 3.4375rem;
  font-weight: 400;
  margin-left: 20px;
  line-height: 54.5px; /* 99.091% */
  /* 99.091% */
}
@media (max-width: 1024px) {
  .about-us-inner .count-box2 .count {
    font-size: 2.5rem;
  }
}
@media (max-width: 576px) {
  .about-us-inner .count-box2 .count {
    font-size: 1.5rem;
  }
}
.about-us-inner .slider {
  padding-top: 6.875rem;
  padding-left: 9.375rem;
  width: 70%;
}
@media (max-width: 1200px) {
  .about-us-inner .slider {
    padding-left: 7rem;
    padding-top: 5rem;
    width: 65%;
  }
}
@media (max-width: 1100px) {
  .about-us-inner .slider {
    padding-left: 5rem;
  }
}
@media (max-width: 992px) {
  .about-us-inner .slider {
    width: 100%;
    padding-left: 0;
    padding-top: 6.875rem;
  }
}
.about-us-inner .slider .col-box {
  display: flex;
}
@media (max-width: 576px) {
  .about-us-inner .slider .col-box img {
    width: 43px;
  }
}
.about-us-inner .slider .col-box p {
  color: #292929;
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 54.5px;
  margin-left: 1rem;
  margin-top: 3px;
}
@media (max-width: 1200px) {
  .about-us-inner .slider .col-box p {
    font-size: 1.4rem;
    line-height: 40px;
  }
}
@media (max-width: 992px) {
  .about-us-inner .slider .col-box p {
    line-height: 28px;
  }
}
@media (max-width: 576px) {
  .about-us-inner .slider .col-box p {
    font-size: 1rem;
  }
}

.synergyEffect-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 2px solid #D9D9D9;
  position: relative;
}
.synergyEffect-menu-solid {
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  background: #000;
  width: 250px;
}
.synergyEffect-menu-item {
  color: #000;
  font-size: 1.5625rem;
  font-weight: 400;
  line-height: 100%;
  text-transform: uppercase;
  margin-right: 2.875rem;
  height: 3.125rem;
  display: flex;
  justify-content: start;
  align-items: end;
}
.synergyEffect-menu-item.active {
  font-weight: 500;
}
.synergyEffect-body {
  padding-top: 61px;
}
.synergyEffect-body-item {
  display: none;
}
.synergyEffect-body-item.active {
  display: block;
}
.synergyEffect-body .left-text {
  position: relative;
  left: -100px;
}

.selection-done-inner {
  display: flex;
}
.selection-done-inner .box {
  max-width: 481px;
  width: 100%;
  padding-top: 22px;
  display: flex;
  align-items: start;
}
.selection-done-inner .box .number {
  color: #000;
  font-family: Bebas Neue Cyrillic;
  font-size: 105.6px;
  font-style: normal;
  font-weight: 400;
  line-height: 205.37px; /* 194.479% */
}

/*# sourceMappingURL=style.css.map */
