@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #033862;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #033862;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}

@media (max-width: 1024px) {
  html {
    font-size: 15px;
  }
}
@media (max-width: 992px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 13px;
  }
}
body {
  background: #fff;
}

.container {
  max-width: 1400px;
}

:root {
  --orange: #FF5B27;
  --black: #1D1F23;
  --gray: #949494;
  --light-gray: #F1F1F1;
  --white: #FFf;
}

.menu {
  height: 160px;
  display: flex;
  justify-content: left;
  align-items: center;
  border-bottom: 1px solid #D9D9D9;
  width: 100%;
}
@media (max-width: 992px) {
  .menu {
    height: auto;
  }
}
.menu-inner {
  display: flex;
  align-items: center;
  width: 100%;
}
@media (max-width: 992px) {
  .menu-inner {
    justify-content: space-between;
  }
}
.menu-inner-logo {
  margin-right: 10.75rem;
}
@media (max-width: 1200px) {
  .menu-inner-logo {
    margin-right: 5.75rem;
  }
}
@media (max-width: 1160px) {
  .menu-inner-logo {
    margin-right: 4.8rem;
  }
}
@media (max-width: 1060px) {
  .menu-inner-logo {
    margin-right: 3.5rem;
    transform: scale(0.9);
  }
}
@media (max-width: 576px) {
  .menu-inner-logo img {
    width: 166px;
  }
}
.menu-inner-line {
  width: 1px;
  background: #D9D9D9;
  height: 160px;
  margin-right: 11.5rem;
}
@media (max-width: 1200px) {
  .menu-inner-line {
    margin-right: 8.2rem;
  }
}
@media (max-width: 1140px) {
  .menu-inner-line {
    margin-right: 5.75rem;
  }
}
@media (max-width: 992px) {
  .menu-inner-line {
    display: none;
  }
}
.menu-inner-items {
  display: flex;
  margin-right: 5.375rem;
}
@media (max-width: 1200px) {
  .menu-inner-items {
    margin-right: 1.5rem;
  }
}
@media (max-width: 992px) {
  .menu-inner-items {
    display: none;
  }
}
.menu-inner-items .item2 {
  margin-left: 5.625rem;
}
@media (max-width: 1200px) {
  .menu-inner-items .item2 {
    margin-left: 4rem;
  }
}
@media (max-width: 1085px) {
  .menu-inner-items .item2 {
    margin-left: 2rem;
  }
}
.menu-inner-items-item {
  color: #9A9A9A;
  font-size: 1.25rem;
  font-weight: 500;
  text-transform: uppercase;
  white-space: nowrap;
}
.menu-inner-items-item a {
  font-size: 1.25rem;
  color: #9A9A9A;
}
.menu-inner-link {
  white-space: nowrap;
}
@media (max-width: 576px) {
  .menu-inner-link {
    white-space: unset;
  }
}
.menu-inner-link a {
  color: #000;
  font-size: 1.494rem;
  font-weight: 400;
  line-height: 100%; /* 23.904px */
  text-transform: uppercase;
  text-decoration: underline;
}
@media (max-width: 576px) {
  .menu-inner-link a {
    font-size: 1.125rem;
  }
}
.menu .menu-items-mobile {
  display: none;
  margin-top: 20px;
  margin-bottom: 22px;
  position: relative;
  left: 15px;
  gap: 25px;
}
@media (max-width: 992px) {
  .menu .menu-items-mobile {
    display: flex;
  }
}
.menu .menu-items-mobile .menu-items-item {
  color: #9A9A9A;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}
.menu .menu-items-mobile .menu-items-item a {
  color: #9A9A9A;
}

.header {
  margin-top: 7rem;
}
@media (max-width: 768px) {
  .header {
    margin-top: 1.8125rem;
  }
}
.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
@media (max-width: 992px) {
  .header-inner {
    flex-direction: column;
    justify-content: center;
  }
}
.header-inner-box-head {
  color: #292929;
  font-size: 4.6875rem;
  font-weight: 400;
  line-height: 111.3%;
  text-transform: uppercase;
  font-family: "Bebas Neue", sans-serif;
}
@media (max-width: 1024px) {
  .header-inner-box-head {
    font-size: 3.5rem;
  }
}
@media (max-width: 768px) {
  .header-inner-box-head {
    font-size: 2.875rem;
  }
}
.header-inner-box-button {
  max-width: 556px;
  width: 100%;
  height: 214px;
  position: relative;
  left: -115px;
  margin-top: 73px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 992px) {
  .header-inner-box-button {
    left: -30px;
    top: -30px;
    margin-top: 0;
  }
}
@media (max-width: 576px) {
  .header-inner-box-button {
    justify-content: left;
    max-width: 100%;
    left: 10px;
    top: -50px;
  }
}
.header-inner-box-button button {
  max-width: 19.7410625rem;
  width: 100%;
  text-align: center;
  height: 4.125rem;
  border: 1.692px solid #000;
  background: rgba(255, 255, 255, 0.5);
  color: #000;
  font-size: 1.1785625rem;
  font-weight: 500;
  line-height: normal;
}
.header-inner-video {
  max-width: 800px;
  width: 100%;
  position: absolute;
  z-index: -1;
  right: 0;
  top: -100px;
}
@media (max-width: 992px) {
  .header-inner-video {
    position: unset;
    max-width: unset;
  }
}
.header-inner-video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header-inner-video h2 {
  color: #292929;
  font-family: "Bebas Neue", sans-serif;
  font-size: 2.8125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 87%; /* 20.88px */
  text-transform: uppercase;
  background: #F6F6F6;
  white-space: nowrap;
  position: absolute;
  top: 91%;
  padding: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
@media (max-width: 1024px) {
  .header-inner-video h2 {
    font-size: 2rem;
  }
}
@media (max-width: 992px) {
  .header-inner-video h2 {
    top: 99%;
  }
}
@media (max-width: 768px) {
  .header-inner-video h2 {
    font-size: 1.5rem;
  }
}
.header-inner-video h3 {
  color: #292929;
  font-family: "Bebas Neue", sans-serif;
  font-size: 3.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 87%; /* 20.88px */
  text-transform: uppercase;
  background: #F6F6F6;
  white-space: nowrap;
  position: absolute;
  top: 108%;
  padding: 1.25rem;
  left: 83%;
  transform: translateX(-50%);
  z-index: 1;
}
@media (max-width: 1024px) {
  .header-inner-video h3 {
    font-size: 3rem;
    left: 68%;
    top: 104%;
  }
}
@media (max-width: 992px) {
  .header-inner-video h3 {
    font-size: 3rem;
    left: 68%;
    top: 107%;
  }
}
@media (max-width: 768px) {
  .header-inner-video h3 {
    font-size: 2.25rem;
  }
}
.header-title {
  margin-top: 12.6875rem;
}
@media (max-width: 992px) {
  .header-title {
    margin-top: 11rem;
  }
}
@media (max-width: 768px) {
  .header-title {
    margin-top: 8rem;
  }
}
.header-title-1 {
  max-width: 1000px;
  width: 100%;
  color: #292929;
  font-size: 1.625rem;
  font-weight: 400;
  line-height: 43px; /* 165.385% */
}
.header-title-1 span {
  color: #292929;
  font-size: 1.625rem;
  font-weight: 500;
  line-height: 43px;
}
@media (max-width: 768px) {
  .header-title-1 span {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .header-title-1 {
    font-size: 16px;
    line-height: 23px;
  }
}
.header-title-2 {
  color: #292929;
  margin-top: 2.5625rem;
  font-size: 1.375rem;
  font-weight: 400;
  line-height: 40.5px; /* 184.091% */
  max-width: 660px;
  width: 100%;
}
@media (max-width: 992px) {
  .header-title-2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
@media (max-width: 768px) {
  .header-title-2 {
    font-size: 16px;
    line-height: 23px;
  }
}

/*# sourceMappingURL=style.css.map */
